<template>
  <div>
    <h2 class="text-h5 mb-4">Timetable Generation</h2>
    <template v-if="school">
      <v-form ref="form" v-model="valid" @submit.prevent="generate">
        <v-row>
          <v-col cols="12" xsm="6" md="4" lg="3">
            <v-text-field
              :value="school.forms.length"
              label="Total Forms"
              outlined
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="12" :xsm="6" :md="4" :lg="3">
            <v-text-field
              :value="school.streams.length"
              label="Total Streams"
              outlined
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="12" :xsm="6" :md="4" :lg="3">
            <v-text-field
              id="daysCount"
              :rules="rules.days"
              name="daysCount"
              value="1"
              label="Days"
              type="number"
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" :xsm="6" :md="4" :lg="3">
            <v-text-field
              id="sessionsCount"
              :rules="rules.sessions"
              name="sessionsCount"
              label="Sessions"
              type="number"
              value="6"
              outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" :xsm="12">
            <v-expansion-panels accordion>
              <v-expansion-panel>
                <v-expansion-panel-header>Advanced</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col cols="12" :sm="6" :md="4">
                      <v-checkbox
                        v-model="checkConsecutive"
                        label="Check Consecutive"
                      ></v-checkbox>
                    </v-col>
                    <v-col cols="12" :sm="6" :md="4">
                      <v-text-field
                        id="consecutiveLimit"
                        v-model="consecutiveLimit"
                        :disabled="!checkConsecutive"
                        :rules="rules.consecutiveLimit"
                        name="consecutiveLimit"
                        label="Consecutive Limit"
                        type="number"
                        value="2"
                        outlined
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12" :xsm="12">
            <v-btn :loading="isGenLoading" class="ml-auto mr-auto" type="submit" color="primary" large>
              Generate
            </v-btn>
          </v-col>
        </v-row>
      </v-form>

      <v-row v-if="isGenError">
        <v-col cols="12" :sm="12">
          <v-alert type="error" outlined text>
            <p class="text-h6 ma-0">{{ errorMsg }}</p>
            <ul>
              <li v-for="(err, i) in error" :key="`error-${i}`">
                {{ err }}
              </li>
            </ul>
          </v-alert>
        </v-col>
      </v-row>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { ApiStatus } from '~/api/api.constants'

import { ISchool } from '~/store/school'
import { ITimetableGenPayload } from '~/store/timetable'
import { validationRules } from '~/utils'

@Component
export default class TimetableGenerate extends Vue {
  /* --------------------------- Globals -------------------------- */
  // Data
  valid = false
  rules = validationRules
  checkConsecutive = true
  consecutiveLimit = 2

  // getters
  get school(): ISchool {
    return this.$store.getters['school/school']
  }

  get fetchLoadingApiStatus(): ApiStatus {
    return this.$store.getters['school/loadingApiStatus']
  }

  get isFetchSuccess(): boolean {
    return this.fetchLoadingApiStatus === ApiStatus.Success
  }

  get loadingApiStatus(): ApiStatus {
    return this.$store.getters['timetable/loadingApiStatus']
  }

  get isGenLoading(): boolean {
    return this.loadingApiStatus === ApiStatus.Loading
  }

  get isGenSuccess(): boolean {
    return this.loadingApiStatus === ApiStatus.Success
  }

  get isGenError(): boolean {
    return this.loadingApiStatus === ApiStatus.Error
  }

  get error(): any {
    return this.$store.getters['timetable/error']
  }

  get errorMsg(): string {
    return this.$store.getters['timetable/errorMsg']
  }

  // Methods
  generate() {
    const form = this.$refs.form! as HTMLFormElement
    form.validate()
    if (!this.valid) return

    const formData = new FormData(form.$el)
    const daysCount = formData.get('daysCount') as string
    const sessionsCount = formData.get('sessionsCount') as string
    // const consecutiveLimit = formData.get('consecutiveLimit') as string

    if (+this.consecutiveLimit < 1)
      this.consecutiveLimit = 2

    const payload: ITimetableGenPayload = {
      streams: this.school.streams,
      forms: this.school.forms,
      teachers: this.school.teachers,
      daysCount,
      sessionsCount,
      options: {
        checkConsecutive: this.checkConsecutive,
        consecutiveLimit: +this.consecutiveLimit,
      },
    }
    this.$store.dispatch('timetable/generate', payload)
      .then(() => {
        if (this.isGenSuccess) {
          this.$router.push({ name: 'timetable-view' })
        }

        console.log(this.isGenSuccess)
      })
  }

  // Hooks
  created() {
    this.$store.dispatch('school/details')
      .then(() => {
        if (this.isFetchSuccess && !this.school) {
          this.$router.push({ name: 'index' })
        }
      })
  }
  /* ------------------------- End Globals ------------------------ */
}
</script>