<template>
  <article>
    <nuxt-link :to="{ name: 'timetable' }" class="text-decoration-none">
      <v-btn color="primary" class="mb-5" text large outlined>
        <v-icon left>mdi-keyboard-backspace</v-icon>
        Back To Generator
      </v-btn>
    </nuxt-link>
    <div class="table">
      <section
        v-for="(day, dayIndex) in timetable"
        :key="`day-${dayIndex}`"
        class="d-flex day"
      >
        <div class="day__name">Day {{ dayIndex + 1 }}</div>
        <div class="day__forms">
          <div
            v-for="(form, formIndex) in forms"
            :key="`form-${formIndex}`"
            class="day__forms__form d-flex"
          >
            <p class="day__forms__form--name">
              {{ form.name }}
            </p>

            <div class="day__forms__form--streams">
              <div
                v-for="(stream, streamIndex) in streams"
                :key="`form-${formIndex}-stream-${streamIndex}`"
                class="stream d-flex"
              >
                <p class="stream__name">{{ stream.name }}</p>
                <div class="stream__entries d-flex">
                  <div
                    v-for="(entry, i) in getEntries(
                      dayIndex,
                      formIndex,
                      streamIndex
                    )"
                    :key="`form-${formIndex}-stream-${streamIndex}-entry-${i}`"
                    class="stream__entries--entry"
                  >
                    <p>{{ entry.subject.name }}</p>
                    <p class="teacher">{{ entry.teacher.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- {{ timetable }} -->
    </div>
  </article>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { IForm, ISchool, IStream } from '~/store/school'

@Component
export default class TimetableView extends Vue {
  /* --------------------------- Globals -------------------------- */
  // getters
  get timetable(): any {
    return this.$store.getters['timetable/timetable']
  }

  get school(): ISchool {
    return this.$store.getters['school/school']
  }

  get forms(): IForm[] {
    return this.school.forms
  }

  get streams(): IStream[] {
    return this.school.streams
  }

  // Methods
  getEntries(dayIndex: number, formIndex: number, streamIndex: number): any[] {
    const timetable = this.timetable
    const entries: any[] = timetable[dayIndex][formIndex + streamIndex]

    console.log(entries)
    return entries
  }

  // hooks
  created() {
    if (!this.timetable) {
      this.$router.push({ name: 'timetable' })
    }
  }
}
</script>

<style lang="scss" scoped>
$padding-value: 1rem;
$padding-value-stream: 0.5rem;

$border-color: #e6e6e6;

.table {
  border: 2px solid $border-color;
  background-color: inherit;
}
.day {
  border-bottom: 2px solid $border-color;
  background-color: inherit;

  &:last-child {
    border-bottom: none;
  }

  p {
    margin-bottom: 0;
  }

  &__name {
    text-transform: uppercase;
    border-right: 2px solid $border-color;
    // border: 1px solid green;
  }

  &__name,
  &__forms {
    padding: $padding-value;
  }

  &__forms {
    flex: 1;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow: auto;
    padding-bottom: $padding-value - $padding-value-stream;
    // background-color: orange;

    &__form {
      padding: $padding-value 0;
      background-color: inherit;
      overflow: auto;
      border-bottom: 1px solid $border-color;

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      &--name {
        left: 0;
        position: sticky;
        z-index: 2;
        background-color: inherit;
        padding-left: $padding-value;
        padding-right: $padding-value;
        border-right: 1px solid $border-color;
      }

      &--streams {
        flex: 1;
        background-color: inherit;
      }

      .stream {
        background-color: inherit;
        padding-bottom: $padding-value-stream;

        &__name {
          left: 3.1rem;
          position: sticky;
          z-index: 1;
          background-color: inherit;
          padding: 0 $padding-value;
          border-right: 3px solid $border-color;
        }

        &__entries {
          flex: 1;
          // background-color: blue;

          &--entry {
            flex: 1;
            padding: 0 $padding-value;
            text-align: center;
            // background-color: blueviolet;

            &:last-child {
              padding-right: 0;
            }

            .teacher {
              opacity: 0.5;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
* {
  background-color: inherit;
}
</style>