<template>
  <section>
    <p class="text-right mb-12 d-none d-md-block">
      Don't have an accont?
      <nuxt-link to="/auth/signup">Get Started</nuxt-link>
    </p>

    <h2 class="mb-8">Sign In</h2>
    <v-form ref="form" v-model="valid" @submit.prevent="login">
      <v-text-field
        id="email"
        label="Email"
        name="email"
        outlined
        :rules="rules.email"
      />
      <v-text-field
        id="password"
        :rules="rules.password"
        :append-icon="passwordIcon"
        :type="isPasswordVisible ? 'text' : 'password'"
        label="Password"
        name="password"
        outlined
        @click:append="togglePassword"
      />
      <v-btn
        class="mt-3"
        type="submit"
        color="primary"
        large
        block
        :loading="isLoggingIn"
        :disabled="isLoggingIn"
      >
        Login
      </v-btn>
    </v-form>
    <p class="text-center mt-6 d-block d-md-none">
      Don't have an accont?
      <nuxt-link to="/auth/signup">Get Started</nuxt-link>
    </p>

    <v-snackbar v-model="snackbar" color="error">
      {{ errorMsg }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { ApiStatus } from '~/api/api.constants'
import { validationRules } from '~/utils/auth'
import { ILoginPayload } from '~/utils/auth/auth.interfaces'

@Component
export default class Login extends Vue {
  /* ------------------------- Validation ------------------------- */
  // Data
  valid = false
  snackbar = false

  // Rules
  rules = validationRules
  /* ----------------------- End Validation ----------------------- */

  /* --------------------------- Globals -------------------------- */
  // Data
  passwordIcon = 'mdi-eye-off'

  // Getters
  get isPasswordVisible() {
    if (this.passwordIcon === 'mdi-eye') return true
    return false
  }

  get loginApiStatus(): ApiStatus {
    return this.$store.getters['auth/loadingApiStatus']
  }

  get isLoggingIn() {
    return this.loginApiStatus === ApiStatus.Loading
  }

  get errorMsg(): string {
    return this.$store.getters['auth/errorMsg']
  }

  // Methods
  togglePassword() {
    if (this.isPasswordVisible) this.passwordIcon = 'mdi-eye-off'
    else this.passwordIcon = 'mdi-eye'
  }

  login() {
    const form = this.$refs.form! as HTMLFormElement
    form.validate()
    if (!this.valid) return

    const formData = new FormData(form.$el)
    const email = formData.get('email') as string
    const password = formData.get('password') as string

    const payload: ILoginPayload = {
      email,
      password,
    }

    this.$store.dispatch('auth/login', payload).then(() => {
      if (this.loginApiStatus === ApiStatus.Error) {
        this.snackbar = true
      }
    })
  }
  /* ------------------------- End Globals ------------------------ */
}
</script>

<style scoped>
</style>