<template>
  <section>
    <p class="text-right mb-12 d-none d-md-block">
      Already have an accont?
      <nuxt-link :to="{ name: 'auth-login' }">Sign In</nuxt-link>
    </p>

    <h2 class="mb-8">Sign Up</h2>
    <v-form ref="form" v-model="valid" @submit.prevent="signup">
      <!-- <v-text-field
        :rules="rules.schoolName"
        label="School Name"
        outlined
        id="schoolName"
        name="schoolName"
      /> -->
      <v-text-field
        id="email"
        :rules="rules.email"
        label="Email"
        name="email"
        outlined
      />
      <v-text-field
        id="password"
        :rules="rules.password"
        :append-icon="passwordIcon"
        :type="isPasswordVisible ? 'text' : 'password'"
        label="Password"
        name="password"
        outlined
        @click:append="togglePassword"
      />
      <v-btn
        class="mt-3"
        type="submit"
        color="primary"
        large
        block
        :loading="isSigningUp"
        :disabled="isSigningUp"
      >
        Sign Up
      </v-btn>
    </v-form>
    <p class="text-center mt-8 d-block d-md-none">
      Already have an account?
      <nuxt-link to="/auth/login">Sign In</nuxt-link>
    </p>

    <v-snackbar v-model="snackbar" color="error">
      An error occured while signing you up. Please try again.
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { ApiStatus } from '~/api/api.constants'

import { validationRules } from '~/utils/auth'
import { ISignupPayload } from '~/utils/auth/auth.interfaces'

@Component
export default class Signup extends Vue {
  /* ------------------------- Validation ------------------------- */
  // Data
  valid = false
  snackbar = false

  // Rules
  rules = validationRules
  /* ----------------------- End Validation ----------------------- */

  /* --------------------------- Globals -------------------------- */
  // Data
  passwordIcon = 'mdi-eye-off'

  // Getters
  get isPasswordVisible() {
    if (this.passwordIcon === 'mdi-eye') return true
    return false
  }

  get signupApiStatus(): ApiStatus {
    return this.$store.getters['auth/loadingApiStatus']
  }

  get isSigningUp() {
    return this.signupApiStatus === ApiStatus.Loading
  }

  // Methods
  togglePassword() {
    if (this.isPasswordVisible) this.passwordIcon = 'mdi-eye-off'
    else this.passwordIcon = 'mdi-eye'
  }

  signup() {
    const form = this.$refs.form! as HTMLFormElement
    form.validate()
    if (!this.valid) return

    const formData = new FormData(form.$el)
    // const name = formData.get('schoolName') as string
    const email = formData.get('email') as string
    const password = formData.get('password') as string

    const payload: ISignupPayload = {
      // name,
      email,
      password,
    }

    this.$store.dispatch('auth/signup', payload).then(() => {
      if (this.signupApiStatus === ApiStatus.Error) {
        this.snackbar = true
      }
    })
  }
}
</script>

<style scoped>
</style>