<template>
  <v-container class="auth">
    <v-row align="center" class="auth__container">
      <v-col :lg="6" class="d-none d-md-block auth__container--graphic">
        <v-card elevation="6">
          <!-- TODO Add placeholder image -->
          <v-img src="/images/auth-bg.jpg" height="100%">
            <div class="overlay primary"></div>
            <v-row
              align="center"
              justify="center"
              class="fill-height white--text"
            >
              <v-col align="center" justify="center">
                <h1>Hi, Welcome to Celeritas</h1>
                <p>Your one-stop auto-timetabler</p>
              </v-col>
            </v-row>
          </v-img>
        </v-card>
      </v-col>
      <v-col :sm="12" :lg="8" class="auth__container--wrapper">
        <nuxt-child />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  layout: 'auth',
  name: 'Auth',
})
export default class extends Vue {}
</script>

<style lang="scss" scoped>
.auth {
  height: 100%;
  // overflow: hidden;

  &__container {
    height: 100%;

    &--wrapper {
      max-width: 450px;
      margin: 0 auto;

      // small devices
      @media only screen and (max-width: 600px) {
        transform: translateY(-5%);
      }
    }

    &--graphic {
      height: 90vh;

      .v-card {
        height: 100%;
      }

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: darken;
        z-index: -1;
      }
    }
  }
}
</style>