<template>
  <div>
    <div v-if="noSchool" class="text-center">
      <p>Seems like you don't have a school yet.</p>
      <v-form ref="form" v-model="valid" @submit.prevent="createSchool">
        <v-row justify="center">
          <v-col cols="12" sm="6">
            <v-text-field
              id="name"
              label="School Name"
              name="name"
              :rules="rules.schoolName"
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" class="ma-0 pa-0"></v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              id="email"
              label="School Email"
              name="email"
              :rules="rules.email"
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" class="ma-0 pa-0"></v-col>
          <v-col cols="12" sm="3">
            <v-text-field
              id="formsCount"
              label="Forms Count"
              name="formsCount"
              :rules="rules.formsCount"
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="3">
            <v-text-field
              id="streamsCount"
              label="Streams Count"
              name="streamsCount"
              :rules="rules.streamsCount"
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" class="ma-0 pa-0"></v-col>
          <v-col cols="12" sm="4">
            <v-text-field
              id="teachersCount"
              label="Teachers Count"
              name="teachersCount"
              :rules="rules.teachersCount"
              outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-btn
          type="submit"
          color="primary"
          :loading="isCreateLoading"
          :disabled="isCreateLoading"
          large
        >
          Add One Now
        </v-btn>
      </v-form>

      <v-row justify="center" class="mt-5">
        <v-col cols="12" sm="6">
          <v-alert type="warning" text>
            Fields will be autogenerated as required. For production all fields
            to be entered manually.
          </v-alert>
        </v-col>
      </v-row>
    </div>
    <template v-else-if="!noSchool">
      <template v-if="isLoading">
        <p>Loading...</p>
      </template>
      <template v-else-if="isSuccess">
        <section class="mb-10">
          <h2>School</h2>
          <p>{{ school.name }}</p>
        </section>

        <section class="mb-10">
          <v-row class="ma-0">
            <h2 class="text-h5">Streams</h2>
            <v-spacer />
            <v-dialog v-model="streamDialog" width="500">
              <template #activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  class="d-none"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon left dark>mdi-plus</v-icon>
                  Add
                </v-btn>
              </template>

              <v-card>
                <v-card-title class="text-h5"> Add Stream </v-card-title>

                <v-card-text>
                  <v-row>
                    <v-col cols="12" sm="12">
                      <v-text-field label="Name" outlined></v-text-field>
                    </v-col>
                  </v-row>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="streamDialog = false">
                    Add
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>

          <v-row class="mt-2">
            <v-col
              v-for="(stream, i) of school.streams"
              :key="`stream-${i}`"
              :sm="2"
              :md="2"
            >
              <v-card class="text-center" elevation="0" outlined>
                <v-card-text>
                  <p class="text-h4">{{ stream.name }}</p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </section>

        <section class="mb-10">
          <v-row class="ma-0">
            <h2 class="text-h5">Forms</h2>
            <v-spacer />
            <v-dialog v-model="streamDialog" width="500">
              <template #activator="{ on, attrs }">
                <v-btn
                  class="d-none"
                  color="primary"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon left dark>mdi-plus</v-icon>
                  Add
                </v-btn>
              </template>

              <v-card>
                <v-card-title class="text-h5"> Add Form </v-card-title>

                <v-card-text>
                  <v-row>
                    <v-col cols="12" sm="12">
                      <v-text-field label="Name" outlined></v-text-field>
                    </v-col>
                  </v-row>

                  <p class="ma-0">Choose streams for this form</p>
                  <v-row>
                    <v-col
                      v-for="(stream, i) in school.streams"
                      :key="`stream-choice-${i}`"
                      cols="12"
                      sm="4"
                    >
                      <v-checkbox :label="stream.name"></v-checkbox>
                    </v-col>
                  </v-row>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="streamDialog = false">
                    Add
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>

          <v-row class="mt-2">
            <v-col
              v-for="(form, i) of school.forms"
              :key="`form-${i}`"
              :sm="2"
              :md="2"
            >
              <v-card class="text-center" elevation="0" outlined>
                <v-card-text>
                  <p class="text-h4">{{ form.name }}</p>
                  <p class="mb-0">{{ form.streams.length }} Streams</p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </section>

        <section>
          <v-row class="ma-0 mb-5">
            <h2 class="text-h5">Teachers</h2>
            <v-spacer />
            <v-btn class="d-none" color="primary">
              <v-icon left dark>mdi-plus</v-icon>
              Add
            </v-btn>
          </v-row>

          <v-data-table
            :headers="parsedTeachersDisplay.headers"
            :items="parsedTeachersDisplay.teachers"
            :items-per-page="5"
            class="elevation-2"
          >
            <template #item.forms="{ item }">
              {{ item.forms.length }}
            </template>
            <template #item.subjects="{ item }">
              {{ item.subjects.length }}
            </template>
          </v-data-table>
        </section>
      </template>
      <template v-else>
        <p>Error</p>
      </template>
    </template>

    <v-snackbar v-model="snackbar" color="error">
      Could not create your school. Please try again.
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { ApiStatus } from '~/api/api.constants'
import { ISchool, ISchoolCreatePayload } from '~/store/school'
import { validationRules } from '~/utils/auth/index'

@Component
export default class Home extends Vue {
  /* --------------------------- Teachers ------------------------- */
  // Getters
  get parsedTeachersDisplay(): Record<string, any> {
    return {
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Forms Taught', value: 'forms' },
        { text: 'Subjects Taught', value: 'subjects' },
      ],
      teachers: this.school.teachers,
    }
  }
  /* ------------------------- End Teachers ----------------------- */

  /* --------------------------- Globals -------------------------- */
  buildRule(v: string, fieldName: string, max: number, min: number = 1) {
    if (!v) return `${fieldName} cannot be empty`

    const value = +v
    if (value < min) {
      return `${fieldName} must be above ${min - 1}`
    }
    if (value > max) {
      return `${fieldName} must be below ${max + 1}`
    }

    return true
  }

  // Data
  valid = false
  rules = {
    ...validationRules,
    formsCount: [(v: string) => this.buildRule(v, 'Forms Count', 10)],
    streamsCount: [(v: string) => this.buildRule(v, 'Streams Count', 10)],
    teachersCount: [(v: string) => this.buildRule(v, 'Teachers Count', 150)],
  }

  noSchool = false
  snackbar = false
  streamDialog = false

  // Getters
  get loadingApiStatus(): ApiStatus {
    return this.$store.getters['school/loadingApiStatus']
  }

  get isLoading(): boolean {
    return this.loadingApiStatus === ApiStatus.Loading
  }

  get isSuccess(): boolean {
    return this.loadingApiStatus === ApiStatus.Success
  }

  get createLoadingApiStatus(): ApiStatus {
    return this.$store.getters['school/createLoadingApiStatus']
  }

  get isCreateLoading(): boolean {
    return this.createLoadingApiStatus === ApiStatus.Loading
  }

  get isCreateSuccess(): boolean {
    return this.createLoadingApiStatus === ApiStatus.Success
  }

  get isCreateError(): boolean {
    return this.createLoadingApiStatus === ApiStatus.Error
  }

  get school(): ISchool | Record<string, any> {
    return this.$store.getters['school/school'] ?? {}
  }

  get dataTableProperties(): Record<string, any> {
    return {
      headers: [],
    }
  }

  // Methods
  createSchool() {
    const form = this.$refs.form! as HTMLFormElement
    form.validate()
    if (!this.valid) return

    const formData = new FormData(form.$el)
    const name = formData.get('name') as string
    const email = formData.get('name') as string

    // for debug
    const formsCount = +(formData.get('formsCount') as string)
    const streamsCount = +(formData.get('streamsCount') as string)
    const teachersCount = +(formData.get('teachersCount') as string)

    const payload: ISchoolCreatePayload = {
      name,
      email,

      formsCount,
      streamsCount,
      teachersCount,
    }

    this.$store.dispatch('school/create', payload).then(() => {
      if (this.isCreateError) {
        this.snackbar = true
      } else if (this.isCreateSuccess) {
        this.noSchool = false
      }
    })
  }

  // Life-cycle
  created() {
    this.$store.dispatch('school/details').then(() => {
      if (this.isSuccess && !this.school.name) {
        this.noSchool = true
      }

      console.log(this.school, this.noSchool)
    })
  }
}
</script>
