<template>
  <div>
    <nuxt-child />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class Timetable extends Vue {

}
</script>

<style scoped>
</style>